.DS_Store
.env
.env.
.env.example
tmp/
dist/
bin/
mysql_data/
web/static/uploads/*
!web/static/uploads/.gitkeep
.git/

# macOS
.DS_Store

# Node
node_modules/

# Logs
*.log

# IDE
.vscode/
.idea/

# Build
dist/
build/